.jumbotron{
  background-color:#ffa436 ;
  color: black;
  padding: 0.75rem 0;
  display:flex;
  margin-top: 50px;

}

.card-hotel{
  flex: 1 200px;
  margin-left: 8px;
  margin-top: 10px;
}

.row-div-referencia{
  text-align: center;
  padding-bottom: 10px;
}

.card-referencia{
  margin-top: 10px;
  margin-bottom: 10px;

}

.btn-reserva{
  width: 100%;
  border-radius: 0px;
}

.btn-contacto{
  margin-bottom: 10px;
  width: 100%;
  border-radius: 0px;

}

.breadcrumb {
  margin: 2rem 0 2rem 0;
}


footer{
  padding: 10px 10px 0 10px;
  background-color: $mycolor;
  margin-bottom: 0px;
  margin-top: 10px;
}
 .contacto {

 }

 .tab-content{
   padding-top: 10px;
 }

 .footer-address-icon{
   padding-right: 10px;
 }

 .icon-reserva{
   padding-right: 10px;
 }
