

$mycolor : #FFEC33;
$myFont: Helvetica, sans-serif;
$myFontSize: 18px;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding($top, $bottom){
  padding-top: $top;
  padding-bottom: $bottom;
}


.jumbotron{
  background-color:#ffa436 ;
  color: black;
  padding: 0.75rem 0;
  display:flex;
  //margin-top: 50px;
  @include margenes(50px, 0px);

}

.card-hotel{
  flex: 1 200px;
  margin-left: 8px;
  //margin-top: 10px;
  @include margenes(10px, 0px);
}

.row-div-referencia{
  text-align: center;
  //padding-bottom: 10px;
  @include padding(0px, 10px);

}

.card-referencia{
//  margin-top: 10px;
//  margin-bottom: 10px;
  @include margenes(10px, 10px);

}

.btn-reserva{
  width: 100%;
  border-radius: 0px;
}

.btn-contacto{
  @include margenes(0px, 10px);
  //margin-bottom: 10px;
  width: 100%;
  border-radius: 0px;

}

.breadcrumb {
  //margin: 2rem 0 2rem 0;
  @include padding(2rem, 2rem)
}

body{
  font-family: $myFont;
  font-size: $myFontSize;
}


footer{
  @include padding(10px, 10px);
  padding-left: 10px;
//  padding: 10px 10px 0 10px;
  background-color: $mycolor;
  @include margenes(10px, 0px);
  font-family: $myFont;
  font-size: $myFontSize;
  //margin-bottom: 0px;
  //margin-top: 10px;
}

 .tab-content{
   padding-top: 10px;
 }

 .footer-address-icon{
   padding-right: 10px;
 }

 .icon-reserva{
   padding-right: 10px;
 }
