.jumbotron {
  background-color: #ffa436;
  color: black;
  padding: 0.75rem 0;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.row-div-referencia {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
}
.card-referencia {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.btn-contacto {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 0px;
}
.breadcrumb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #e7eb0c;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
.tab-content {
  padding-top: 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
.icon-reserva {
  padding-right: 10px;
}
